<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-FHTKPPZRG8"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
    
      gtag('config', 'G-FHTKPPZRG8');
    </script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Coloring Pages:pokemon,mermaid,cat,dragon-AI Coloring Pages</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <link href="https://fonts.googleapis.com/css2?family=Patrick+Hand&display=swap" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

</head>
<body>

<div class="navbar">
    <img src="{{ url_for('static', filename='images/logo.jpg') }}" alt="Logo" class="navbar-logo">
    <div class="navbar-links">
        <a href="{{ url_for('index') }}">Home</a>
        <div class="dropdown">
            <a href="#">Creating <span class="triangle-down"></span></a>
            <div class="dropdown-content">
                <a href="#">pokemon coloring pages</a>
                <a href="#">mermaid coloring pages</a>
                <a href="#">cat coloring pages</a>
                <a href="#">dragon coloring pages</a>

            </div>
        </div>
        <a href="#">About</a>
        <a href="#">Contact</a>
    </div>
</div>

<div class="site-description">
    Text to AI Coloring Pages
</div>

<div class="description-content">
    AI Generate Coloring Pages For Kids & Adults (Free PDF Printables).This page includes all the coloring sheets found on this website in one place that is easy to navigate and will suit the interests of any child!
</div>


<div class="chat-container">
    <div class="chatbox">
        <input type="text" id="queryInput" placeholder="Enter a prompt here..." readonly>
        <button id="goButton">Generate</button>
    </div>
    <div id="querySelect" class="message-box">
        <div class="message" data-url="/link_for_question1">pokemon coloring pages</div>
        <div class="message" data-url="/link_for_question2">mermaid coloring pages</div>
        <div class="message" data-url="/link_for_question3">cat coloring pages</div>
        <div class="message" data-url="/link_for_question3">dragon coloring pages</div>

        <!-- ...  ... -->
    </div>
</div>

<div class="carousel-container">
    <h2>Pokemon coloring pages</h2>
    <div class="carousel-wrapper">
        {% for group in pokemon_image_groups %}
        <div class="pokemon_carousel-slide"  style="display:none;">
            <div class="row">
                {% for image, title in group %}
                <div class="col">
                    <img src="{{ image }}" alt="{{ title }}" class="display-image">
                    <h5>{{ title }}</h5>
                    <a href="{{ url_for('download_pdf', category='pokemon', image_file=title) }}" class="button">Download as PDF</a>
                </div>
                {% endfor %}
            </div>
        </div>
        {% endfor %}
    </div>
    <button id="prevBtn2" class="carousel-container.next-btn">Prev</button>
    <button id="nextBtn2" class="next-btn">Next</button>
</div>

<div class="carousel-container">
    <h2>Mermaid coloring pages</h2>
    <div class="carousel-wrapper">
        {% for group in mermaid_image_groups %}
        <div class="mermaid_carousel-slide"  style="display:none;">
            <div class="row">
                {% for image, title in group %}
                <div class="col">
                    <img src="{{ image }}" alt="{{ title }}" class="display-image">
                    <h5>{{ title }}</h5>
                    <a href="{{ url_for('download_pdf', category='mermaid', image_file=title) }}" class="button">Download as PDF</a>
                </div>
                {% endfor %}
            </div>
        </div>
        {% endfor %}
    </div>
    <button id="prevBtn3" class="carousel-container.next-btn">Prev</button>
    <button id="nextBtn3" class="next-btn">Next</button>
</div>

<div class="carousel-container">
    <h2>Cat coloring pages</h2>
    <div class="carousel-wrapper">
        {% for group in cat_image_groups %}
        <div class="cat_carousel-slide"  style="display:none;">
            <div class="row">
                {% for image, title in group %}
                <div class="col">
                    <img src="{{ image }}" alt="{{ title }}" class="display-image">
                    <h5>{{ title }}</h5>
                    <a href="{{ url_for('download_pdf', category='cat', image_file=title) }}" class="button">Download as PDF</a>
                </div>
                {% endfor %}
            </div>
        </div>
        {% endfor %}
    </div>
    <button id="prevBtn" class="carousel-container.next-btn">Prev</button>
    <button id="nextBtn" class="next-btn">Next</button>
</div>

<div class="carousel-container">
    <h2>Dragon coloring pages</h2>
    <div class="carousel-wrapper">
        {% for group in dragon_image_groups %}
        <div class="dragon_carousel-slide"  style="display:none;">
            <div class="row">
                {% for image, title in group %}
                <div class="col">
                    <img src="{{ image }}" alt="{{ title }}" class="display-image">
                    <h5>{{ title }}</h5>
                    <a href="{{ url_for('download_pdf', category='dragon', image_file=title) }}" class="button">Download as PDF</a>
                </div>
                {% endfor %}
            </div>
        </div>
        {% endfor %}
    </div>
    <button id="prevBtn1" class="carousel-container.next-btn">Prev</button>
    <button id="nextBtn1" class="next-btn">Next</button>
</div>



<script>


<!--    -->
let carouselWrapper = document.querySelector('.carousel-wrapper');
let currentIndex = 0;
const imageGroupsLength = {{ cat_image_groups|length }};

let cat_slides = document.querySelectorAll('.cat_carousel-slide');
let dragon_slides = document.querySelectorAll('.dragon_carousel-slide');
let pokemon_slides = document.querySelectorAll('.pokemon_carousel-slide');
let mermaid_slides = document.querySelectorAll('.mermaid_carousel-slide');

cat_slides[currentIndex].style.display = 'block'; // 
dragon_slides[currentIndex].style.display = 'block'; // 
pokemon_slides[currentIndex].style.display = 'block'; // 
mermaid_slides[currentIndex].style.display = 'block'; // 

document.getElementById('prevBtn').addEventListener('click', function() {
    cat_slides[currentIndex].style.display = 'none';
    currentIndex = (currentIndex - 1 + imageGroupsLength) % imageGroupsLength;
    cat_slides[currentIndex].style.display = 'block';
});

document.getElementById('nextBtn').addEventListener('click', function() {
    cat_slides[currentIndex].style.display = 'none';
    currentIndex = (currentIndex + 1) % imageGroupsLength;
    cat_slides[currentIndex].style.display = 'block';
});

document.getElementById('prevBtn1').addEventListener('click', function() {
    dragon_slides[currentIndex].style.display = 'none';
    currentIndex = (currentIndex - 1 + imageGroupsLength) % imageGroupsLength;
    dragon_slides[currentIndex].style.display = 'block';
});

document.getElementById('nextBtn1').addEventListener('click', function() {
    dragon_slides[currentIndex].style.display = 'none';
    currentIndex = (currentIndex + 1) % imageGroupsLength;
    dragon_slides[currentIndex].style.display = 'block';
});

document.getElementById('prevBtn2').addEventListener('click', function() {
    pokemon_slides[currentIndex].style.display = 'none';
    currentIndex = (currentIndex - 1 + imageGroupsLength) % imageGroupsLength;
    pokemon_slides[currentIndex].style.display = 'block';
});

document.getElementById('nextBtn2').addEventListener('click', function() {
    pokemon_slides[currentIndex].style.display = 'none';
    currentIndex = (currentIndex + 1) % imageGroupsLength;
    pokemon_slides[currentIndex].style.display = 'block';
});

document.getElementById('prevBtn3').addEventListener('click', function() {
    mermaid_slides[currentIndex].style.display = 'none';
    currentIndex = (currentIndex - 1 + imageGroupsLength) % imageGroupsLength;
    mermaid_slides[currentIndex].style.display = 'block';
});

document.getElementById('nextBtn3').addEventListener('click', function() {
    mermaid_slides[currentIndex].style.display = 'none';
    currentIndex = (currentIndex + 1) % imageGroupsLength;
    mermaid_slides[currentIndex].style.display = 'block';
});
<!--    -->



function updateCarousel() {
    let offset = -currentIndex * 100;
    carouselWrapper.style.transform = `translateX(${offset}%)`;
}



    // const queryInput = document.getElementById('queryInput');
    // const querySelect = document.getElementById('querySelect');
    // const goButton = document.getElementById('goButton');
    //
    // queryInput.addEventListener('click', function() {
    //     querySelect.style.display = 'block';
    // });
    //
    // querySelect.addEventListener('click', function(e) {
    //     if (e.target.className === 'message') {
    //         queryInput.value = e.target.innerText;
    //         querySelect.style.display = 'none';
    //         queryInput.dataset.url = e.target.dataset.url;
    //     }
    // });
    //
    // goButton.addEventListener('click', function() {
    //     if (queryInput.dataset.url) {
    //         window.location.href = queryInput.dataset.url;
    //     }
    // });
    //
    // document.addEventListener('click', function(e) {
    //     const messageBox = document.getElementById('querySelect');
    //     const queryInput = document.getElementById('queryInput');
    //     if (!queryInput.contains(e.target) && !messageBox.contains(e.target)) {
    //         messageBox.style.display = 'none';
    //     }
    // });



</script>

</body>
</html>
